* {
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 85px;
    border-bottom: 3px dotted grey;
}

.section {
    padding: 20px;
    background-color: white;
}

.section h1 {
    margin-bottom: 10px;
    text-align: center;
}

.section p {
    color: gray;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    margin: 10px;
}

.create {
    margin-top: 3rem;
}

.item img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.item h3,
.item p {
    text-align: center;
    margin: 5px 0;
}

.explore {
    text-align: center;
    margin-top: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    margin: 1rem;
    text-align: center;
}

.item img {
    width: 100%;

    max-width: 300px;
    height: auto;
}

.text {
    padding-top: 1rem;
}

.text h2 {
    font-size: 24px;
    margin: 0;
}

.text p {
    color: gray;
}

.social {
    text-align: center;
    margin-top: 3rem;
}

.social p{
    color: gray;
}

.collage {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collage img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0.5rem;
}

@media (max-width: 768px) {
    .collage img {
        max-width: 120px;
    }

    .slide1 .item {
        width: 160px;
    }

    .text h2 {
        font-size: 1.3rem;
    }

    .text p {
        font-size: 1rem;
    }
}
